* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 微软雅黑;
    text-decoration: none;
    color: #ccc;  
    list-style: none;

}

.banxin {
    margin-left: 45px;
}
.biaoti {
    font-size: 20px;
    color:#333;
    font-weight: 500;
    margin-top: 45px;
    border-bottom: 2px solid #c20c0c;
}
body {
    background-color: #f5f5f5;
}
.nav {
    height: 70px;
    width: 100%;
    background-color: #242424;
    border-bottom: 5px solid #c20c0c;
    /* padding: 0px 200px; */
    /* 不应该在这里设置padding，不然宽度增加时，主体就被拉长 */
    /* position: relative; */
}
/* 问题一：解决logo和nav一起掉下来 给logo设置padding 而不是里面图片给margin 设置了行高*/
.zhuti {
    height: 100%;
    width: 1130px;
    position: relative;
    margin: 0 200px;
}
.logo {
    padding: 17px 0;
    width: 162px;
    float: left;
}
.logo a {
    background: url(./images/topbar.png) no-repeat 0px -19px;
    width: 100%;
    height: 36px;
    display: inline-block;
    text-indent: -9999px;
}

.list1 {
    height: 65px;
    float: left;
    padding-left: 20px;
}
.list1 li {
    font-size: 14px;
    float: left;
    line-height: 65px;
    height: 65px;
}
.list1 li a {
    display: inline-block;
    padding: 0 20px;
    height: 100%;
}
/* 问题二：a充满li，li不能设置padding，给a设置 */
.list1 li a:hover {
    color:#fff;
    background-color: #040404;
}
.hot {
    position: absolute;
    background: url(./images/topbar.png) no-repeat -192px 0;
    left: 695px;
    top: 20px;
    height: 14px;
    width: 28px;
}
#search {
   width: 160px;
   height: 34px;
   margin: 16px 0 18px 80px; 
   border-radius: 40px;
   outline: none;
   border: 0px;  
   padding-left: 28px; 
   float: right;

}
input::-webkit-input-placeholder {
    color: #9B9B9B;
    font-size: 12px;
    /* text-align: right; */
    }
#fdj {
    height: 30px;
    width: 30px;
    position: absolute;
    left: 805px;
    top: 24px;
}
/* 问题三：定位浮动混乱:左半部分左浮动，右半部分右浮动 */
.creator {
    height: 34px;
    width: 95px;
    color: #ccccc1;
    border: 1px solid #2F2F2F;
    font-size: 12px;
    border-radius: 30px;
    margin: 16px 0 18px 18px; 
    line-height: 34px;
    text-align: center;
    float: right;
    /* position: absolute; */
}
.creator:hover {
    border: 1px solid #fff;
    color: #fff;
}
/* 问题：浮动以后，模式转换为行内块，怎么垂直居中？ */
/* 将图片和倒三角用div包起来，设置高 */
/* 不好设置宽，因为用图片margin和创作者中心隔开，设置宽不好布局 */
/* 一个左浮动，一个右浮动，用div的padding把img压下来，用span的行高调整垂直居中 */
.touxiang {
    float: right;
    /* width: 45px;     */
    height: 70px;
    padding: 18px 0;

}
.myavatar {
    border-radius: 50%;
    float: left;
    margin-left: 10px;
    /* position: absolute;
    left: 1270px;
    top: 17px; */
}
#daosanjiao {
    /* position: absolute;
    left: 1307px; */
    /* top: 27px; */
    line-height: 36px;
    font-size: 12px;
    float: right;
    padding-left :5px;
}
/* 个人信息的展示用了js？？ */
.list {
    width: 158px;
    position: absolute;
    top: 50px;
    left: 800px;
    background-color: #2b2b2b;
    /* 父亲是nav 这里按照网易的结构更好，定的位置才会相对主体   */
}
.mian {
    width: 980px;
    background-color: #fff;
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    margin: 0 auto;
    height: 1500px;
    /* 临时高度 */
}
/* 小小鹅头像顶部 */
.header {
    height: 270px;
    padding: 45px;
}
.xxe {
    height: 190px;
    width: 190px;
    border: 1px solid #D5D5D5;
    padding: 3px;
    float: left;
}
.xxe img {
    display: block;    
}
.wenzi {
    height: 190px;
    width: 695px;
    float: right;
    padding: 4px 40px 0 40px;
}
.toubu {
    height: 30px;
}
.name {
    font-size: 22px;
    color: #040404;
    font-weight: 500;
}
.toubu>img {
    display: inline-block;
    vertical-align: middle;
    height: 25px;
    width: 85px;
}
.fasixin,.huguan{
    display: inline-block;
    width: 75px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;

}

.toubu.huguan {
    width: 80px;
}
.wenzi hr {
    margin-top:15px;
    background-color: #D5D5D5;
    height: 1px;
    border: none;
}
.fensi {
    height: 60px;
    width: 695px;
}
.fensi ul {
    overflow: hidden;
}
.fensi ul li{
    float: left;
    width: 85px;
    border-right: 1px solid #D5D5D5;
    padding-right: 42px;
    margin-top: 10px;
}
#pianren strong {
    font-size: 24px;
    color: #666;
    font-weight: 500;
}
#pianren span {
    color: #777;
    font-size: 12px;
}
.fensi ul li:nth-child(2),
.fensi ul li:nth-child(3) {
    padding-left: 20px;
    padding-right: 30px;    
}
.fensi ul li:nth-child(3) {
    border-right: 0px;
}
/* 问题：这里不能同时修改颜色 */
#pianren strong:hover,
#pianren span:hover {
    color: #4673c2;
}
.fensi p {
    font-size: 12px;
    color: #666;
    margin-top: 15px;
}
.paihang {
    width: 900px;
    height: 435px;
    margin: 0 45px;
}
.paihang ol li {
    height: 40px;
    line-height: 40px;
    background-color: #f7f7f7;
    padding-left: 30px;

}

.paihang ol li:nth-child(odd) {
    background-color: #fff;
}
.geming {
    color: #000;
    font-size: 12px;
    font-weight: 550;
}
.geshou {
    color: #ccc;
    font-size: 12px;
}
.bofang {
    display: inline-block;
    width: 20px;
    height: 22px;
    background:url(images/table.png) no-repeat 0px -100px ;
    margin-top: -3px;
    vertical-align: middle;
} 
ol li a:hover {
    text-decoration: underline;
}

.bofang:hover {
    background:url(images/table.png) no-repeat 0px -125px ;

}
.paihang li:hover {
    background-color: #eee !important;
}

.gedan {
    width: 895px;
    height: 30px;
}
.gedan ul li {
    width: 135px;
    height: 195px;
    padding-top: 20px; 
    float: left;
    margin-left: 50px;
}
.gedan ul li:first-child,
.gedan ul li:nth-child(6) {
    margin-left: 0;
}
.gedan ul li a {
    font-size: 14px;
    color: #000;
}
.gedan ul li a:hover {
    text-decoration: underline;
}
.shoucang {
    margin-top: 430px;
}
.leiji {
    position: absolute;
    color: #666;
    font-size: 12px;
    top:392px;
    left: 408px;
}
.beian a {
    text-decoration: none;
    height: 20px;
    line-height: 20px;
    color: #939393;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.beian1 a {
    text-decoration: none;
    height: 20px;
    line-height: 20px;
    color: #939393;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.perfect {
    position: fixed;
    top:660px;
    left:10px;
}